@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root{
    --border-color:#144fc6;
    --fill-color:#6ab3f8;
}



*{
    box-sizing: border-box;
}
body{
    background-color: deepskyblue;
    color: #fff;;
    font-family: 'Roboto',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
   overflow: hidden;
    
}
h1{
    margin: 5px 0 0;
}
h3 {
    margin: 5px 0;
    font-weight: 400;
}
.cup {
    background-color: #fff;
    border: 4px solid var(--border-color);
    color: var(--border-color) ;
    border-radius:0 0 40px 40px;
    height:230px;
    width: 150px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.cup.cup-small {
    width: 50px;
    height: 80px;
    border-radius:0 0 15px 15px;
    background-color: rgba(255,255,255,0.9);
    cursor: pointer;
    font-size: 14px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 2px;
    transition: 0.3s ease;
}
.cup.cup.cup-small.full{
    background-color: var(--fill-color);
}
.cups {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 280px;
}
.remained {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex:1;
    transition: 0.3s ease;
    
}

.remained span {
    font-size: 20px;
    font-weight: bold;
}
.remained small{
    font-size: 12px;
}
.percentage {
    background-color: var(--fill-color);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 0;
    transition: 0.3s ease;
}
.text {
    text-align: center;
}