

*body{
    box-sizing: border-box;
}
body {
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}
.kinetic{
    position: relative;
    height: 80px;
    width: 80px;
}
 .kinetic::after, .kinetic::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    border: 50px dotted transparent;
    border-radius: 50%;
    border-bottom-color:white;
    animation: rotateA 2s linear infinite 0.5s;
   
 }

 .kinetic::before {
    transform: rotate(90deg);
 }

 @keyframes rotateA  /* keyframes are used for animation   A and B variables name are given to the triangle that are formes
 by the border property*/
 {
     0% ,25%{
        transform: rotate(0deg);
     }
     50%,75% {
        transform: rotate(180deg);
     }
     100%{
         transform: rotate(360deg);
     }
 }
 .kinetic::before {
    transform: rotate(90deg);
    animation: rotateB 2s linear infinite  ;
 }

 @keyframes rotateB  /* keyframes are used for animation */
 {
     0% ,25%{
        transform: rotate(90deg);
     }
     50%,75% {
        transform: rotate(270deg);
     }
     100%{
         transform: rotate(450deg);
     }
 }