@import url('https://fonts.googleapis.com/css?family=Tangerine');
*{
    box-sizing: border-box;
}

body{
    font-family: 'Tangerine',sans-serif;
    font-size: 40px;
  font-weight: bold;
  text-align: center;
    margin: 0;
    overflow: hidden;
}
h3{
    margin-bottom: 0;
    text-align: center;
}
small
{
    display: block;
    margin-bottom: 20px;
    text-align: center;
}
.fa-heart{
    color: red;
}
.loveMe{
    height: 400px;
    width: 440px;
    background: url('https://images.unsplash.com/photo-1606907568152-58fcb0a0a4e5?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bW90b3JiaWtlfGVufDB8fDB8fHww') no-repeat center center/cover;
  margin: auto;
  cursor: pointer;
  max-width: 100%;
  position: relative;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.loveMe .fa-heart{
    position: absolute;
    animation: grow 0.6s linear;
    transform: translate(-50%, -50%) scale(0);
}
@keyframes grow {
to{
     transform: translate(-50%, -50%) scale(10);
     opacity: 0;
}
}