@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}

body{
    background-color: #111;
    display: flex;
  
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   max-width: 400px;
}
.square{
  background-color: #1d1d1d;
  box-shadow: 0 0 2px #000;  /* 0 0 for offset and 2px for blur*/
  height: 16px;
  width: 16px;
  margin: 2px;
  transition:  2s ease; /* when we remove our cursor then the color may fade in time period of 2s*/
}
.square:hover {
    transition-duration: 0s; /* when we hover over it the box may immeditely light up*/
}