@import url('https://fonts.googleapis.com/css/family=Heebo&diplay=swap');
*{
    box-sizing: border-box;
}
body {
    font-family: 'Heebo',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    margin: 0;
}
button{
    position: relative;
    background-color: blueviolet;
    color: #fff;
    border: 1px purple solid;
    font-size: 14px;
    text-transform: uppercase;
    padding: 20px 30px;
    letter-spacing: 2px;
    overflow: hidden;
    margin: 10px 0;
}
button:focus{
    outline: none;
}
button .circle{
    position: absolute;
    background-color: #fff;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale .5s ease-out;
}
@keyframes scale{
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}